@use "variables" as *;
@use "mixins" as *;

header {
    position: relative;
    margin-bottom: 100px;
    .flexContainer {
        @include flex (row, nowrap, center, center);
    }

    .textContainer {
        width: 60%;
    }
    
    .imgContainer {
        width: 40%;
    }
}