@use "variables" as *;
@use "mixins" as *;

.about {
    @include titleShadow ("About");
    padding: 50px 0;
}

.aboutDescriptionBox {
    background-color: $secondaryColour;
    margin: 50px 25px 100px;
    padding: 25px;
}

.socialFlex {
    @include flex (row, nowrap, center, center)
}

.socials {
    a {
        color: $quaternaryColour;
    }
    height: 40px;
    width: 40px;
    font-size: 1.25rem;
    padding: 10px;
    margin: 20px 5px;
    border: 2.35px solid $quaternaryColour;
    border-radius: 50%;
    @include flex (row, nowrap, center, center);
}

.aboutDescription {
    @include flex (row, wrap);
    p {
        width: calc(50% - 20px);
        margin: 10px 10px;
    }
}

.skills {
    @include titleShadow ("Skills");
    background-color: $whiteColor;
    padding: 50px 0;
    ul {
        @include flex (row, wrap);
        margin: 50px 25px 0;
        padding: 0 50px;
    }
    li {
        @include flex (column, nowrap, center, center);
        margin: 20px 20px;
        width: calc(25% - 40px);
        i {
            font-size: 4rem;
            color: $fontAltColour;
            &:hover, &:focus {
                color: $quaternaryColour;
            }
        }
    
        p {
            font-size: clamp(0.7rem, 1.5vw, 1rem);
            line-height: clamp(0.8rem, 1.5vw, 1.2rem);
            padding-top: 15px;
            text-align: center
        }
    }
}

.projectBackground {
    @include titleShadow ("Projects");
    background-color: $primaryColour;
    padding: 50px 0;
}

.project {
    margin-top: 50px;
    border-bottom: 2px $secondaryColour solid;
}

.projectProfile {
    @include flex (row, nowrap, center, flex-start);
    .imgContainer {
        width: calc(33.33% - 20px);
        margin: 20px 20px 20px 0;
        padding: 20px 0;
        height: 300px;
    }
    .projectDescription {
        width: calc(33.33% - 20px);
        margin: 20px;
        padding: 20px 20px 0;
        height: 250px;
        @include flex (column, nowrap, space-between, space-between)
    }
    .projectTools {
        width: calc(33.33% - 20px);
        margin: 20px 0px 20px 20px;
        padding: 20px 20px 0;
        height: 250px;
        @include flex (column, nowrap, space-between, space-between)
    }
    ul {
        @include flex (row);
        li {
            font-size: 3rem;
            margin: 5px 15px 0 0;
            color: $fontAltColour;
    
            &:hover, &:focus {
                color: $quaternaryColour;
            }
        }
    }
}

.stackingOrder {
    position: relative;
    z-index: 1;
}

.contact {
    @include titleShadow ("Contact");
    background-color: $whiteColor;
    padding: 50px 0;
    form {
        margin-top: 50px;
        @include flex (row, wrap);
        .text {
            width: calc(50% - 20px);
            padding: 10px;
            margin: 10px;
            &:hover, &:focus {
                border: 2px solid $quaternaryColour;
            }
        }
        .message {
            width: calc(100% - 20px);
            padding: 10px;
            margin: 10px;
            &:hover, &:focus {
                border: 2px solid $quaternaryColour;
            }
        }
        button {
            border: none;
            background: none;
            margin-top: 10px;
            margin-left: 25px;
        }
        ::placeholder {
            /* Chrome, Firefox, Opera, Safari 10.1+ */
            color: $fontColour;
            opacity: 1;
            /* Firefox */
        }
    }
}
