// COLOURS:
$primaryColour: #F4F4F4;
$secondaryColour: #DFDDE0;
$tertiaryColour: #737373;
$quaternaryColour: #9D0909;
$fontColour: #000000;
$fontAltColour: #302F2F;
$whiteColor: #FFF;


// FONTS:
$mainFont: "raleway";
$accentFont: "sifonn";