@charset "UTF-8";
html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

@font-face {
  font-family: "raleway";
  src: url("../fonts/raleway/Raleway-Regular.ttf");
  font-weight: 400;
}
@font-face {
  font-family: "raleway";
  src: url("../fonts/raleway/Raleway-Medium.ttf");
  font-weight: 500;
}
@font-face {
  font-family: "raleway";
  src: url("../fonts/raleway/Raleway-SemiBold.ttf");
  font-weight: 600;
}
@font-face {
  font-family: "raleway";
  src: url("../fonts/raleway/Raleway-Bold.ttf");
  font-weight: 700;
}
@font-face {
  font-family: "sifonn";
  src: url("../fonts/sifonn/sifonn.otf");
  font-weight: normal;
}
html {
  font-family: "raleway";
  /* 20px default font size */
  font-size: 125%;
  color: #000000;
}

h1 {
  font-family: "sifonn";
  font-size: clamp(2.65rem, 7vw, 5rem);
  line-height: clamp(2rem, 7vw, 4.85rem);
  text-transform: uppercase;
}
h1 span {
  display: block;
  font-family: "raleway";
  font-size: clamp(2.65rem, 7vw, 5rem);
  line-height: clamp(2rem, 7vw, 4.85rem);
  font-weight: 700;
  color: #302F2F;
  text-transform: none;
}

h2 {
  font-family: "raleway";
  font-size: 3.25rem;
  line-height: 3rem;
  letter-spacing: 3px;
  color: #737373;
  text-align: center;
}

h3 {
  font-size: 1.3rem;
  text-align: center;
}
h3 span {
  color: #9D0909;
}

h4 {
  font-size: 2rem;
  color: #737373;
}
h4 span {
  color: #DFDDE0;
}

p {
  font-size: clamp(1rem, 2vw, 1.25rem);
  line-height: clamp(1.35rem, 2vw, 1.6rem);
  letter-spacing: 1px;
}

.projectTools p {
  font-weight: 600;
}

textarea,
input {
  font-family: "raleway";
  color: #000000;
}

.navBar a {
  text-transform: uppercase;
  font-size: clamp(0.8rem, 1.5vw, 1rem);
  line-height: clamp(0.9rem, 1.5vw, 1.2rem);
  font-weight: 600;
  letter-spacing: 1.1px;
  color: #302F2F;
}

.skills p {
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 1.1px;
  color: #302F2F;
}

.button {
  font-family: "raleway";
  text-transform: uppercase;
  font-size: 0.9rem;
  letter-spacing: 2.2px;
  font-weight: 600;
  color: #302F2F;
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

body {
  overflow-x: hidden;
  background-color: #F4F4F4;
}

.wrapper {
  max-width: 1560px;
  width: 80%;
  margin: 0 auto;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

.button {
  display: inline-block;
  position: relative;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  margin-left: 10px;
}
.button::before {
  content: "";
  display: block;
  width: 40px;
  height: 40px;
  background-color: #DFDDE0;
  border-radius: 50%;
  position: absolute;
  left: -15px;
  top: 0px;
  z-index: -1;
}
.button::after {
  content: "⟶";
  margin: 0 10px;
  font-size: 1.45rem;
  color: #9D0909;
}
.button:hover::before {
  width: 110%;
  border-radius: 35px;
  -webkit-transition: 500ms;
  transition: 500ms;
}

nav {
  margin-bottom: 50px;
}

.navIcon {
  display: none;
  padding: 10px 13px;
  margin: 6px;
  border-radius: 50%;
  font-size: 2rem;
  width: auto;
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: #737373;
  color: #F4F4F4;
  -webkit-transition: 0.75s;
  transition: 0.75s;
}
.navIcon:hover, .navIcon:focus {
  color: #9D0909;
  background-color: #F4F4F4;
}

.navBar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.navBar .logo {
  width: clamp(5rem, 10vw, 7.5rem);
  height: clamp(5rem, 10vw, 7.5rem);
}
.navBar ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50%;
}
.navBar ul a {
  background-color: #DFDDE0;
  padding: 10px;
  border-radius: 20px;
  margin-left: 50px;
}
.navBar ul a:hover {
  position: relative;
  color: #9D0909;
  background-color: #F4F4F4;
}
.navBar ul a:hover::before {
  content: "●";
  position: absolute;
  left: 0;
  right: 0;
  top: 30px;
  text-align: center;
}

.slideOutNav {
  padding: 35px 50px;
  width: 100%;
  height: 100vh;
  background-color: #302F2F;
  opacity: 0.98;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 10;
  -webkit-transition: 0.75s;
  transition: 0.75s;
}
.slideOutNav .buttonContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: normal;
      -ms-flex-align: normal;
          align-items: normal;
}
.slideOutNav .buttonContainer button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 9px 17px;
  margin: 6px;
  border-radius: 50%;
  font-size: 2rem;
  background-color: #737373;
  color: #F4F4F4;
  z-index: 20;
}
.slideOutNav .buttonContainer button:hover, .slideOutNav .buttonContainer button:focus {
  color: #9D0909;
  background-color: #F4F4F4;
}
.slideOutNav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 40px 0 0;
}
.slideOutNav li {
  padding-bottom: 50px;
}
.slideOutNav li a {
  font-family: "raleway";
  font-size: 1.6rem;
  line-height: 2.5rem;
  font-weight: 600;
  background-color: #737373;
  color: #F4F4F4;
  padding: 10px 15px;
  border-radius: 25px;
}
.slideOutNav li a:hover, .slideOutNav li a:focus {
  color: #9D0909;
  background-color: #F4F4F4;
}

.show {
  display: block;
}

.hide {
  display: none;
}

header {
  position: relative;
  margin-bottom: 100px;
}
header .flexContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
header .textContainer {
  width: 60%;
}
header .imgContainer {
  width: 40%;
}

.about {
  padding: 50px 0;
}
.about .titleShadow {
  position: relative;
}
.about .titleShadow::before {
  content: "About";
  font-size: 4.75rem;
  line-height: 4.5rem;
  letter-spacing: 3px;
  color: #737373;
  opacity: 0.1;
  position: absolute;
  text-align: center;
  left: -10px;
  right: 0;
  top: -13px;
}

.aboutDescriptionBox {
  background-color: #DFDDE0;
  margin: 50px 25px 100px;
  padding: 25px;
}

.socialFlex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.socials {
  height: 40px;
  width: 40px;
  font-size: 1.25rem;
  padding: 10px;
  margin: 20px 5px;
  border: 2.35px solid #9D0909;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.socials a {
  color: #9D0909;
}

.aboutDescription {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: normal;
      -ms-flex-pack: normal;
          justify-content: normal;
  -webkit-box-align: normal;
      -ms-flex-align: normal;
          align-items: normal;
}
.aboutDescription p {
  width: calc(50% - 20px);
  margin: 10px 10px;
}

.skills {
  background-color: #FFF;
  padding: 50px 0;
}
.skills .titleShadow {
  position: relative;
}
.skills .titleShadow::before {
  content: "Skills";
  font-size: 4.75rem;
  line-height: 4.5rem;
  letter-spacing: 3px;
  color: #737373;
  opacity: 0.1;
  position: absolute;
  text-align: center;
  left: -10px;
  right: 0;
  top: -13px;
}
.skills ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: normal;
      -ms-flex-pack: normal;
          justify-content: normal;
  -webkit-box-align: normal;
      -ms-flex-align: normal;
          align-items: normal;
  margin: 50px 25px 0;
  padding: 0 50px;
}
.skills li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 20px 20px;
  width: calc(25% - 40px);
}
.skills li i {
  font-size: 4rem;
  color: #302F2F;
}
.skills li i:hover, .skills li i:focus {
  color: #9D0909;
}
.skills li p {
  font-size: clamp(0.7rem, 1.5vw, 1rem);
  line-height: clamp(0.8rem, 1.5vw, 1.2rem);
  padding-top: 15px;
  text-align: center;
}

.projectBackground {
  background-color: #F4F4F4;
  padding: 50px 0;
}
.projectBackground .titleShadow {
  position: relative;
}
.projectBackground .titleShadow::before {
  content: "Projects";
  font-size: 4.75rem;
  line-height: 4.5rem;
  letter-spacing: 3px;
  color: #737373;
  opacity: 0.1;
  position: absolute;
  text-align: center;
  left: -10px;
  right: 0;
  top: -13px;
}

.project {
  margin-top: 50px;
  border-bottom: 2px #DFDDE0 solid;
}

.projectProfile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.projectProfile .imgContainer {
  width: calc(33.33% - 20px);
  margin: 20px 20px 20px 0;
  padding: 20px 0;
  height: 300px;
}
.projectProfile .projectDescription {
  width: calc(33.33% - 20px);
  margin: 20px;
  padding: 20px 20px 0;
  height: 250px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: space-between;
      -ms-flex-align: space-between;
          align-items: space-between;
}
.projectProfile .projectTools {
  width: calc(33.33% - 20px);
  margin: 20px 0px 20px 20px;
  padding: 20px 20px 0;
  height: 250px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: space-between;
      -ms-flex-align: space-between;
          align-items: space-between;
}
.projectProfile ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: normal;
      -ms-flex-pack: normal;
          justify-content: normal;
  -webkit-box-align: normal;
      -ms-flex-align: normal;
          align-items: normal;
}
.projectProfile ul li {
  font-size: 3rem;
  margin: 5px 15px 0 0;
  color: #302F2F;
}
.projectProfile ul li:hover, .projectProfile ul li:focus {
  color: #9D0909;
}

.stackingOrder {
  position: relative;
  z-index: 1;
}

.contact {
  background-color: #FFF;
  padding: 50px 0;
}
.contact .titleShadow {
  position: relative;
}
.contact .titleShadow::before {
  content: "Contact";
  font-size: 4.75rem;
  line-height: 4.5rem;
  letter-spacing: 3px;
  color: #737373;
  opacity: 0.1;
  position: absolute;
  text-align: center;
  left: -10px;
  right: 0;
  top: -13px;
}
.contact form {
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: normal;
      -ms-flex-pack: normal;
          justify-content: normal;
  -webkit-box-align: normal;
      -ms-flex-align: normal;
          align-items: normal;
}
.contact form .text {
  width: calc(50% - 20px);
  padding: 10px;
  margin: 10px;
}
.contact form .text:hover, .contact form .text:focus {
  border: 2px solid #9D0909;
}
.contact form .message {
  width: calc(100% - 20px);
  padding: 10px;
  margin: 10px;
}
.contact form .message:hover, .contact form .message:focus {
  border: 2px solid #9D0909;
}
.contact form button {
  border: none;
  background: none;
  margin-top: 10px;
  margin-left: 25px;
}
.contact form ::-webkit-input-placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #000000;
  opacity: 1;
  /* Firefox */
}
.contact form ::-moz-placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #000000;
  opacity: 1;
  /* Firefox */
}
.contact form :-ms-input-placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #000000;
  opacity: 1;
  /* Firefox */
}
.contact form ::-ms-input-placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #000000;
  opacity: 1;
  /* Firefox */
}
.contact form ::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #000000;
  opacity: 1;
  /* Firefox */
}

footer {
  padding: 20px 0;
}
footer p {
  font-size: 0.8rem;
  line-height: 1rem;
  letter-spacing: 1px;
  text-align: center;
}
footer p a {
  color: #302F2F;
}